/*============ Fonts import ============*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Condensed.woff2') format('woff2'),
        url('../fonts/Roboto-Condensed.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/*=========== Fonts globals ===========*/
*{
    font-family: 'Roboto';
}
/*========== Variables ==========*/
$yellow: #FFD100;
$blue: #002D74;
$gray: #808184;
/*========= Admin wordpress front =========*/
html{
    margin-top: 0 !important;
}
body, html{
    width: 100%;
    overflow-x: hidden;
}
#wpadminbar{
    display: none;
}
/*=========== 404 ==========*/
#ditto_404_error{
    background: $blue;
    padding: 10rem 0;
    .row{
        position: relative;
        h1{
            color: $yellow;
            font-weight: 700;
            font-size: 13rem;
            text-align: center;
            @media(max-width:500px){
                font-size: 10rem;
            }
        }
        p{
            color: #ffffff;
            font-size: 4rem;
            font-weight: 600;
            @media(max-width:768px){
                text-align: center;
                font-size: 2.5rem;
            }
        }
        a{
            font-size: 25px;
            padding: 10px 1rem;
            color: $yellow;
            border: 1px solid $yellow;
            border-radius: 30px;
            text-decoration: none;
            @media(max-width:500px){
                font-size: 20px;
            }
        }
        .svg-container{
            width: fit-content;
            position: absolute;
            z-index: 10;
            right: 3%;
            top: 100%;
            svg{
                height: auto;
                max-width: 250px;
            }
            @media(max-width:768px){
                top: 111%;
                svg{
                    max-width: 200px;
                }
            }
        }
    }
}