/*============ Fonts import ============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*========== Sizes and line-height functions ==========*/
$movil: 480;
$lg: 1600;
$desktop: 1920;
@function scaleVW($size, $viewportWidth) {
    @return calc(($size * 100) / $viewportWidth) * 1vw;
}
@function LH($lineheight, $fontSize) {
    @return calc($lineheight / $fontSize);
}
/*=========== Fonts globals ===========*/
*{
    font-family: "Roboto", sans-serif;
}
/*========== Variables ==========*/
$light_blue: #B2B7D3;
$blue: #002D74;
$blue_light: #397DC9;
$gray: #4D4D4D;
$p_dark: #23242A;
$gray_bg: #F0F0F0;
$white: #ffffff;
$green: #7FB116;

body, html{
    width: 100%;
    overflow-x: hidden;
    .container{
        width: 100%;
        max-width: scaleVW(1424, $desktop);
        padding: 0;
        @media(max-width:768px){
            max-width: scaleVW(423, $movil);
        }
    }
}
/*=========== 404 ==========*/
#ditto_404_error{
    height: scaleVW(873, $desktop);
    width: 100%;
    overflow: hidden;
    position: relative;
    @media(max-width:768px){
        height: scaleVW(874, $movil);
    }
    .background-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @media(max-width:768px){
            height: 121%;
        }
    }
    .text-contain{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: scaleVW(518, $desktop);
        @media(max-width:768px) {
            max-width: 100%;
        }
        h1{
            font-size: scaleVW(300, $desktop);
            line-height: LH(352, 300);
            font-weight: 700;
            color: $white;
            margin-bottom: 0;
            @media(max-width:768px){
                font-size: scaleVW(200, $movil);
                line-height: LH(234, 200);
            }
        }
        p{
            color: $white;
            font-size: scaleVW(32, $desktop);
            line-height: LH(38, 32);
            font-weight: 600;
            margin-bottom: scaleVW(42, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(25, $movil);
                line-height: LH(29, 25);
                margin-bottom: scaleVW(63, $movil);
            }
        }
        a{
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            align-items: center;
            margin: 0 auto;
            width: scaleVW(349, $desktop);
            height: scaleVW(44, $desktop);
            color: $blue;
            background: $white;
            border-radius: scaleVW(4, $desktop);
            font-size: scaleVW(16, $desktop);
            line-height: LH(20, 16);
            padding: 0 scaleVW(20, $desktop);
            font-weight: 600;
            svg{
                width: scaleVW(14, $desktop);
                height: scaleVW(14, $desktop);
            }
            @media(max-width:768px){
                width: scaleVW(349, $movil);
                height: scaleVW(44, $movil);
                border-radius: scaleVW(4, $movil);
                font-size: scaleVW(16, $movil);
                padding: 0 scaleVW(20, $movil);
                svg{
                    width: scaleVW(14, $movil);
                    height: scaleVW(14, $movil);
                }
            }
        }
    }
}
/*=========== Search page ===========*/
#ditto-search{
    padding: 10rem 0 4rem 0;
    .container{
        width: 100%;
        max-width: 1330px;
        h1{
            color: $blue;
            font-weight: 400;
            font-size: 3.4rem;
            margin-bottom: 2rem;
        }
        .cta-image{
            .feature-image-container{
                height: 350px;
                overflow: hidden;
                border-radius: 40px;
                background: rgb(228, 229, 230);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .text-container{
            margin-left: 3rem;
            h4{
                color: $blue;
                font-weight: 400;
                font-size: 2.5rem;
                line-height: 1.2;
                @media(max-width:500px){
                    font-size: 2rem;
                }
            }
            p{
                color: $blue;
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.2;
            }
            .cta-button{
                display: flex;
                cursor: pointer;
                width: fit-content;
                text-decoration: none;
                .text{
                    background: $blue;
                    padding: 6px 1.6rem 10px 1.6rem;
                    border-radius: 20px;
                    color: #ffffff;
                    font-weight: 400;
                    margin-right: .5rem;
                    height: 40px;
                    position: relative;
                    font-size: 1.2rem;
                    &::before{
                        content: '';
                        display: block;
                        width: 20px;
                        height: 17px;
                        position: absolute;
                        right: -11%;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 9;
                        background: $blue;
                    }
                }
                .icon{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $blue;
                    &::after{
                        content: '';
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        position: absolute;
                        background: #ffffff;
                        left: -39%;
                        transform: translateX(37%);
                        top: 0.9%;
                        z-index: 10;
                    }
                    &::before{
                        content: '';
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        position: absolute;
                        background: #ffffff;
                        left: -39%;
                        transform: translateX(37%);
                        top: 62.9%;
                        z-index: 10;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 14px;
                        height: auto;
                        g{
                            line{
                                stroke: #ffffff;
                            }
                        }
                    }
                }
                &:hover{
                    .text{
                        background: $light_blue;
                        color: $blue;
                        &::before{
                            background: $light_blue;
                        }
                    }
                    .icon{
                        background: $light_blue;
                        svg{
                            g{
                                line{
                                    stroke:#ffffff;
                                }
                            }
                        }
                    }
                }
            }
            @media(max-width: 768px){
                margin: 0;
            }
        }
    }
}