.banner-partial-bfa418 {
    .taxonomies{
        display: flex;
        padding: 0;
        .taxonomi-card{
            display: flex;
            overflow: hidden;
            width: scaleVW(480, $desktop);
            height: scaleVW(640, $desktop);
            position: relative;
            @media(max-width:510px){
                width: scaleVW(480, $movil);
                height: scaleVW(640, $movil);
            }
            img{
                width: 100%;
            }
            .text-taxonomy{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: scaleVW(27, $desktop);
                z-index: 1;
                width: scaleVW(402, $desktop);
                display: flex;
                flex-direction: column;
                gap: scaleVW(24, $desktop);
                @media(max-width:510px){
                    width: scaleVW(402, $movil);
                    gap: scaleVW(24, $movil);
                    bottom: scaleVW(27, $movil);
                }
                .name-category{
                    text-align: center;
                    color: $white;
                    font-size: scaleVW(48, $desktop);
                    line-height: LH(58, 48);
                    font-weight: 700;
                    margin: 0;
                    filter:drop-shadow(0px 3px 4px black);
                    @media(max-width:510px){
                        font-size: scaleVW(48, $movil);
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    gap: scaleVW(159, $desktop);
                    justify-content: center;
                    width: 100%;
                    height: scaleVW(70, $desktop);
                    background: $blue;
                    border-radius: scaleVW(10, $desktop);
                    text-decoration: none;
                    transition: .2s;
                    span{
                        color: $white;
                        font-size: scaleVW(24, $desktop);
                    }
                    svg{
                        width: scaleVW(28, $desktop);
                        height: scaleVW(28, $desktop);
                    }
                    &:hover{
                        background: $white;
                        span{
                            color: $blue;
                        }
                        svg{
                            path{
                                stroke: $blue;
                            }
                        }
                    }
                    @media(max-width:510px){
                        height: scaleVW(70, $movil);
                        border-radius:  scaleVW(10, $movil);
                        gap: scaleVW(159, $movil);
                        span{
                            font-size: scaleVW(24, $movil);
                        }
                        svg{
                            width: scaleVW(28, $movil);
                            height: scaleVW(28, $movil);
                        }
                    }
                }
            }
        }
    }
    /*========= After banner =========*/
    .after-banner{
        background: $white;
        padding: scaleVW(102, $desktop) 0;
        .text-contain{
            display: flex;
            flex-direction: column;
            gap: scaleVW(45, $desktop);
            max-width: scaleVW(650, $desktop);
            h1{
                color: $blue;
                font-size: scaleVW(64,$desktop);
                font-weight: 700;
                margin-bottom: 0;
                line-height: 1;
            }
            .description{
                font-size: scaleVW(32, $desktop);
                line-height: LH(40, 32);
                font-weight: 300;
                color: $gray;
                margin-bottom: 0;
            }
        }
        .image-contain{
            img{
                width: scaleVW(785, $desktop);
                height: scaleVW(527, $desktop);
            }
        }
        @media(max-width:768px){
            padding: scaleVW(88, $movil) 0 scaleVW(70, $movil) 0;
            .text-contain{
                max-width: 100%;
                gap: scaleVW(32, $movil);
                margin-bottom: scaleVW(53, $movil);
                h1{
                    font-size: scaleVW(32, $movil);
                }
                .description{
                    font-size: scaleVW(20, $movil);
                    line-height: LH(25, 20);
                }
            }
            .image-contain{
                img{
                    width: scaleVW(462, $movil);
                    height: scaleVW(310, $movil);
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}