.community-partial-2f2a01 {
    background-color: $white;
    padding: scaleVW(39, $desktop) 0 scaleVW(144, $desktop) 0;
    @media(max-width:768px){
        padding: scaleVW(30, $movil) 0;
    }
    h2{
        a{
            text-decoration: none;
            color: $blue;
        }
        font-size: scaleVW(48, $desktop);
        line-height: LH(56, 48);
        font-weight: 700;
        margin-bottom: scaleVW(48, $desktop);
        @media(max-width:768px){
            margin-bottom: scaleVW(48, $movil);
            font-size: scaleVW(36, $movil);
            line-height: LH(42, 36);
        }
    }
    .comunity-content{
        display: flex;
        gap: scaleVW(24, $desktop);
        .column{
            display: flex;
            flex-direction: column;
            gap: scaleVW(24, $desktop);
            width: scaleVW(459, $desktop);
            .card-item{
                display: flex;
                img{
                    width: 100%;
                    max-width: scaleVW(459, $desktop);
                    height: scaleVW(401, $desktop);
                    object-fit: cover;
                    border-radius: scaleVW(20, $desktop);
                }
            }
        }
        .column-left{
            .card-item:first-child{
                img{
                    height: scaleVW(409, $desktop);
                }
            }
        }
        .column-center{
            .card-item:first-child{
                img{
                    height: scaleVW(593, $desktop);
                }
            }
        }
        .column-right{
            .card-item:first-child{
                img{
                    height: scaleVW(459, $desktop);
                }
            }
        }
        @media(max-width:768px){
            flex-direction: column;
            gap: 0;
            .column{
                width: 100%;
                gap: scaleVW(24, $movil);
                .card-item{
                    img{
                        max-width: 100%;
                        height: scaleVW(401, $movil);
                        border-radius: scaleVW(20, $movil);
                    }
                }
            }
            .column-left{
                .card-item:first-child{
                    img{
                        height: scaleVW(509, $movil);
                    }
                }
            }
        }
    }
    .see-more{
        display: flex;
        width: fit-content;
        margin: 0 auto;
        font-weight: 600;
        margin-top: scaleVW(48, $desktop);
        padding: scaleVW(10, $desktop) scaleVW(20, $desktop);
        background: $blue;
        color: $white;
        font-size: scaleVW(16, $desktop);
        line-height: LH(24, 16);
        border-radius: scaleVW(4, $desktop);
        border: scaleVW(1, $desktop) solid $blue;
        text-align: center;
        text-decoration: none;
        transition: .2s;
        &:hover{
            background: $white;
            color: $blue;
        }
        @media(max-width:768px){
            padding: scaleVW(10, $movil) scaleVW(20, $movil);
            margin-top: scaleVW(48, $movil);
            font-size: scaleVW(16, $movil);
            line-height: LH(24, 16);
            border-radius: scaleVW(4, $movil);
            border: scaleVW(1, $movil) solid $blue;
        }
    }
}