.community-partial-2f2a01 {
    background: $blue;
    border-radius: 25px 25px 0 0;
    position: relative;
    padding: 3rem 0;
    .container{
        width: 100%;
        max-width: 1392px;
        .title-container{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            .community-title{
                color: #ffffff;
                font-weight: 400;
                margin-bottom: 0;
                font-size: 3rem;
            }
            a{
                text-decoration: none;
                .button-container{
                    display: flex;
                    .text-button{
                        background: #ffffff;
                        padding: 6px 1.6rem 10px 1.6rem;
                        border-radius: 20px;
                        color: $blue;
                        font-weight: 400;
                        margin-right: .5rem;
                        height: 40px;
                        position: relative;
                        font-size: 1.2rem;
                        &::before{
                            content: '';
                            display: block;
                            width: 20px;
                            height: 15px;
                            position: absolute;
                            right: -5%;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                            background: #ffffff;
                        }
                    }
                    .icon{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: #ffffff;
                        &::after{
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            background: $blue;
                            left: -35%;
                            transform: translateX(35%);
                            top: 9.9%;
                            z-index: 10;
                        }
                        &::before{
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            background: $blue;
                            left: -35%;
                            transform: translateX(35%);
                            top: 59.9%;
                            z-index: 10;
                        }
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 14px;
                            height: auto;
                            g{
                                line{
                                    stroke: $blue;
                                }
                            }
                        }
                    }
                    &:hover{
                        .text-button{
                            background: $yellow;
                            color: $blue;
                            &::before{
                                background: $yellow;
                            }
                        }
                        .icon{
                            background: $yellow;
                            svg{
                                g{
                                    line{
                                        stroke:$blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media(max-width:640px){
                flex-direction: column;
                margin-bottom: 3rem;
                .community-title{
                    margin-bottom: 1rem;
                }
            }
        }
        .community-posts-container{
            display: flex;
            .community-card{
                width: 22%;
                margin: 0 10px;
                a{
                    .conten-post{
                        height: 600px;
                        position: relative;
                        border-radius: 38px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                        .text-container{
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 10;
                            .texts{
                                position: absolute;
                                bottom: 1rem;
                                width: 100%;
                                height: auto;
                                padding: 0 1.5rem;
                                .title{
                                    color: #ffffff;
                                    font-weight: 700;
                                }
                                .short-description{
                                    color: #ffffff;
                                    display: none;
                                    transition: .2s;
                                    font-size: 1rem;
                                }
                                .cta-button{
                                    background: #ffffff;
                                    color: $blue;
                                    display: flex;
                                    width: 100%;
                                    height: 40px;
                                    border-radius: 15px;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 0 1.5rem;
                                    transition: .2s;
                                    span{
                                        font-size: 1.2rem;
                                    }
                                    svg{
                                        width: 20px;
                                        height: auto;
                                        g{
                                            line{
                                                transition: .2s;
                                            }
                                        }
                                    }
                                    &:hover{
                                        background: $blue;
                                        color: #ffffff;
                                        svg{
                                            g{
                                                line{
                                                    stroke: #ffffff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            .text-container{
                                .short-description{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .community-card:first-child{
                width: 31%;
            }
            @media(max-width:768px){
                flex-wrap: wrap;
                justify-content: space-between;
                .community-card{
                    width: 48%;
                    margin: 0 0 1rem 0;
                    a{
                        .conten-post{
                            height: 300px;
                            border-radius: 23px;
                            .text-container{
                                .texts{
                                    padding: 0 .5rem;
                                    .cta-button{
                                        padding: 0 1rem;
                                        span{
                                            font-size: .9rem;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .text-container{
                                    .short-description{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .community-card:first-child{
                    width: 48%;
                }
            }
            @media screen and (min-width:769px) and (max-width:991px){
                flex-wrap: wrap;
                justify-content: space-between;
                .community-card{
                    margin: 0 0 1rem 0;
                    a{
                        .conten-post{
                            height: 500px;
                            border-radius: 23px;
                            .text-container{
                                .texts{
                                    padding: 0 .5rem;
                                    .cta-button{
                                        padding: 0 1rem;
                                        span{
                                            font-size: .9rem;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .text-container{
                                    .short-description{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}