.sustainability-partial-0c071c {
    background: $white;
    .top-content{
        display: flex;
        align-items: baseline;
        @media(max-width:768px){
            flex-direction: column;
        }
        .image-contain{
            width: scaleVW(1032, $desktop);
            height: scaleVW(810, $desktop);
            img{
                width: scaleVW(1032, $desktop);
                height: scaleVW(810, $desktop);
            }
            @media(max-width:768px){
                width: scaleVW(457, $movil);
                height: scaleVW(359, $movil);
                max-width: 100%;
                img{
                   width: 100%;
                   height: auto;
                }
            }
        }
        .text-content{
            width: scaleVW(506, $desktop);
            padding-bottom: scaleVW(149, $desktop);
            @media(max-width:768px){
                display: flex;
                width: 100%;
                gap: scaleVW(31, $movil);
                align-items: center;
                padding-bottom: 0;
            }
            h2{
                color: $blue;
                font-size: scaleVW(64, $desktop);
                line-height: LH(58, 64);
                font-weight: 700;
                margin-bottom: scaleVW(42, $desktop);
                @media(max-width:768px){
                    width: scaleVW(220, $movil);
                    font-size: scaleVW(32, $movil);
                    line-height: LH(30, 32);
                }
            }
            .iso-text{
                background: $blue_light;
                width: scaleVW(746, $desktop);
                height: scaleVW(188, $desktop);
                position: relative;
                border-radius: scaleVW(94, $desktop) 0 0 scaleVW(94, $desktop);
                display: flex;
                align-items: center;
                padding-left: scaleVW(90, $desktop);
                span{
                    font-size: scaleVW(64, $desktop);
                    line-height: LH(58, 64);
                    color: $white;
                    font-weight: 700;
                }
                @media(max-width:768px){
                    min-width: scaleVW(239, $movil);
                    height: scaleVW(51, $movil);
                    border-radius: scaleVW(94, $movil) 0 0 scaleVW(94, $movil);
                    padding-left: scaleVW(20, $movil);
                    span{
                        font-size: scaleVW(24, $movil);
                        line-height: LH(58, 24);
                    }
                }
            }
        }
    }
    /*=========== Process ===========*/
    .bottom-content{
        padding: scaleVW(81, $desktop) 0 scaleVW(211, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(35, $movil) 0 scaleVW(86, $movil);
        }
        .description{
            font-size: scaleVW(24, $desktop);
            line-height: LH(40, 24);
            color: $gray;
            font-weight: 400;
            margin-bottom: scaleVW(95, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(16, $movil);
                line-height: LH(20, 16);
            }
        }
        .sustainability-cards{
            display: flex;
            gap: scaleVW(32, $desktop);
            justify-content: center;
            @media(max-width:768px){
                flex-direction: column;
                gap: scaleVW(32, $movil);
                align-items: center;
                padding-top: scaleVW(35, $movil);
            }
            .process-card{
                display: flex;
                flex-direction: column;
                width: scaleVW(330.75, $desktop);
                max-height: scaleVW(358, $desktop);
                overflow: hidden;
                border-radius: scaleVW(40, $desktop);
                @media(max-width:768px){
                    width: scaleVW(350, $movil);
                    height: scaleVW(263, $movil);
                    border-radius: scaleVW(40, $movil);
                }
                .image-contain{
                    width: 100%;
                    height: scaleVW(162, $desktop);
                    @media(max-width:768px){
                        width: scaleVW(350, $movil);
                        height: scaleVW(162, $movil);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .process-text{
                    background: $green;
                    padding: scaleVW(16, $desktop);
                    h3{
                        color: $white;
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(23, 20);
                        text-align: center;
                        font-weight: 400;
                        height: scaleVW(69, $desktop);
                    }
                    p{
                        color: $white;
                        font-size: scaleVW(14, $desktop);
                        line-height: LH(16, 14);
                        text-align: center;
                        font-weight: 300;
                        height: scaleVW(69, $desktop);
                    }
                    @media(max-width:768px){
                        width: scaleVW(350, $movil);
                        height: scaleVW(101, $movil);
                        padding: scaleVW(16, $movil);
                        h3{
                            font-size: scaleVW(20, $movil);
                        }
                        p{
                            font-size: scaleVW(14, $movil);
                        }
                    }
                }
            }
        }
    }
}