.product-details-partial-d60d33 {
    background: $gray_bg;
    padding: scaleVW(33, $desktop) 0;
    .container{
        .top-contain{
            display: flex;
            align-items: flex-start;
            gap: scaleVW(93, $desktop);
            /*============= Gallery =================*/
            .gallery-contain{
                display: flex;
                align-items: flex-start;
                gap: scaleVW(20, $desktop);
                width: scaleVW(616, $desktop);
                /*=========Nav gallery  ========*/
                .nav-galery{
                    display: flex;
                    flex-direction: column;
                    width: scaleVW(69, $desktop);
                    gap: scaleVW(10, $desktop);
                    .nav-image{
                        img{
                            width: 100%;
                            height: scaleVW(70, $desktop);
                            object-fit: cover;
                            object-position: center;
                            border-radius: scaleVW(5, $desktop);
                        }
                    }
                }
                /*=========== Slide contain ===========*/
                .slide-contain{
                    width: scaleVW(527, $desktop);
                    height: scaleVW(572, $desktop);
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .item-image{
                        width: 100%;
                        min-width: scaleVW(527, $desktop);
                        height: scaleVW(572, $desktop);
                        display: none;
                        .zoom-trigger{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            overflow: hidden;
                            display: block;
                            .zoom-image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: scaleVW(10, $desktop);
                                transition: transform 0.3s ease-in-out;
                            }
                            &:hover{
                                .zoom-image{
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }
                    .item-image.show{
                        display: block;
                    }
                }
            }
            /*============= Right content ==============*/
            .right-content{
                min-width: scaleVW(432, $desktop);
                gap: scaleVW(30, $desktop);
                display: flex;
                flex-direction: column;
                .title{
                    position: relative;
                    h1{
                        color: $blue;
                        font-weight: 700;
                        font-size: scaleVW(48, $desktop);
                        line-height: LH(72, 48);
                        margin-bottom: 0;
                    }
                    span{
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(23, 20);
                        color: $gray;
                        position: absolute;
                        bottom: 0;
                        transform: translateY(26%);
                    }
                }
                .description{
                    p{
                        font-size: scaleVW(24, $desktop);
                        line-height: LH(40, 24);
                        font-weight: 400;
                        color: $gray;
                        strong{
                           font-size: scaleVW(32, $desktop); 
                           line-height: LH(40, 32);
                           font-weight: 700;
                        }
                    }
                }
                .cta-more-information{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: scaleVW(121, $desktop);
                    background: $blue;
                    color: $white;
                    width: scaleVW(402, $desktop);
                    height: scaleVW(70, $desktop);
                    border-radius: scaleVW(10, $desktop);
                    border: scaleVW(1, $desktop) solid $blue;
                    transition: .2s;
                    cursor: pointer;
                    &:hover{
                        background: $white;
                        color: $blue;
                        svg{
                            path{
                                stroke: $blue;
                            }
                        }
                    }
                }
                .cta-more-information{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    /*============ End quote form =============*/
    .end-quote-form-pop-up{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0, .5);
        z-index: 100;
        left: 0;
        top: 0;
        .form-container{
            background: #ffffff;
            padding: 1rem;
            border-radius: 30px;
            position: absolute;
            width: 100%;
            max-width: 600px;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .close-quote-form{
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                border: 1px solid $blue;
                border-radius: 50%;
                cursor: pointer;
                top: 3%;
                right: 3%;
                z-index: 10;
                &::before{
                    content: '';
                    width: 12px;
                    height: 2px;
                    border-radius: 20px;
                    background: $blue;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &::after{
                    content: '';
                    width: 12px;
                    height: 2px;
                    border-radius: 20px;
                    background: $blue;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            h3{
                text-align: center;
                font-size: 1.3rem;
                color: $blue;
                font-weight: 300;
                margin: 1rem 0;
            }
            .wpcf7-response-output{
                background: #ffffff;
                color: $blue;
                font-size: 16px;
                font-weight: 300;
                padding: 1rem;
                border-color: #ffffff;
            }
            .the-form{
                input[type="text"], input[type="email"], input[type="tel"]{
                    width: 100%;
                    margin-bottom: 1rem;
                    height: 40px;
                    border-radius: 20px;
                    border: 1px solid $blue;
                    padding: 10px 1rem;
                    color: $blue;
                    outline: none;
                    &::placeholder{
                        color: $blue;
                        opacity: .3;
                    }
                }
                .wpcf7-not-valid-tip{
                    position: absolute;
                    top: 50%;
                    right: 2%;
                    transform: translateY(-50%);
                    font-size: 14px;
                }
                .policies-container{
                    label{
                        cursor: pointer;
                        display: flex;
                        br, .wpcf7-form-control-wrap{
                            display: none;
                        }
                        .checkbox{
                            width: 14px;
                            height: 14px;
                            border: 1px solid $blue;
                            border-radius: 4px;
                            position: relative;
                            &::before{
                                content: '';
                                width: 10px;
                                height: 4px;
                                border-left: 2px solid $blue;
                                border-bottom: 2px solid $blue;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(-45deg);
                                visibility: hidden;
                                transition: .2s;
                                display: none;
                            }
                        }
                        .checkbox.active{
                            &::before{
                                visibility: visible;
                                display: block;
                            }
                        }
                        .text{
                            padding-left: 10px;
                            color: $blue;
                            width: 90%;
                            font-size: 12px;
                            font-weight: 300;
                            a{
                                color: $blue;
                            }
                        }
                    }
                }
                input[type="submit"]{
                    background: $blue;
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    border: none;
                    color: #ffffff;
                    font-weight: 400;
                    outline: none;
                    padding: 6px 2rem;
                    border-radius: 20px;
                    &:disabled{
                        opacity: .6;
                    }
                }
                .wpcf7-spinner{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0;
                }
            }
        }
    }
    .end-quote-form-pop-up.show{
        display: block;
    }
}