.product-details-partial-d60d33 {
    padding: 6rem 0 3rem 0;
    .container{
        width: 100%;
        max-width: 1357px;
        .image-container{
            text-align: center;
            img{
                width: 100%;
                max-width: 700px;
            }
        }
        .description{
            max-width: 405px;
            h1{
                color: $blue;
                font-weight: 400;
                font-size: 3.4rem;
                margin-bottom: 2rem;
            }
            .the-content{
                h3{
                    color: $blue;
                    font-weight: 700;
                    font-size: 2rem;
                }
                p{
                    color: $blue;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }
}