.related-products-partial-573627 {
    background: #D4D4D4;
    padding: scaleVW(110, $desktop) 0;
    @media(max-width:768px){
        padding: scaleVW(29, $movil) 0;
    }
    .container{
        @media(max-width:768px){
            max-width: 100%;
        }
        h2{
            font-size: scaleVW(48, $desktop);
            line-height: LH(56, 48);
            margin-bottom: scaleVW(32, $desktop);
            color: $blue;
            font-weight: 700;
            @media(max-width:768px){
                font-size: scaleVW(32, $movil);
                line-height: LH(58, 32);
                max-width: scaleVW(423, $movil);
                margin: 0 auto;
                margin-bottom: scaleVW(51, $movil);
            }
        }
    }
    .products-slide{
        .card-produc{
            text-decoration: none;
            width: scaleVW(304, $desktop);
            height: scaleVW(388, $desktop);
            border-radius: scaleVW(10, $desktop);
            background: $white;
            position: relative;
            display: flex;
            flex-direction: column;
            @media(max-width:768px){
                width: scaleVW(304, $movil);
                height: scaleVW(388, $movil);
                border-radius: scaleVW(10, $movil);
                margin: 0 auto;
            }
            .body-product{
                padding: scaleVW(26, $desktop) scaleVW(24, $desktop);
                @media(max-width:768px){
                    padding: scaleVW(24, $movil) scaleVW(24, $movil);
                }
                .product-name{
                    position: relative;
                    z-index: 1;
                    h4{
                        color: $blue;
                        font-size: scaleVW(20, $desktop);
                        margin-bottom: 0;
                        font-weight: 700;
                        width: scaleVW(222, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(20, $movil);
                            width: scaleVW(201, $movil);
                        }
                    }
                    p{
                        font-size: scaleVW(15, $desktop);
                        font-weight: 600;
                        color: $gray;
                        margin: 0;
                        @media(max-width:768px){
                            font-size: scaleVW(15, $movil);
                        }
                    }
                }
                .img-container{
                    width: scaleVW(256, $desktop);
                    height: scaleVW(288, $desktop);
                    margin: 0 auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @media(max-width:768px){
                        width: scaleVW(256, $movil);
                        height: scaleVW(288, $movil);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .end-card{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: scaleVW(26, $desktop);
                    display: flex;
                    flex-direction: column;
                    gap: scaleVW(14, $desktop);
                    width: scaleVW(258, $desktop);
                    @media(max-width:768px){
                        width: scaleVW(258, $movil);
                        bottom: scaleVW(26, $movil);
                    }
                    .cta-card{
                        display: flex;
                        align-items: center;
                        gap: scaleVW(159, $desktop);
                        justify-content: center;
                        width: 100%;
                        height: scaleVW(44, $desktop);
                        background: $blue;
                        border-radius: scaleVW(4, $desktop);
                        text-decoration: none;
                        transition: .2s;
                        border: scaleVW(1, $desktop) solid $blue;
                        span{
                            color: $white;
                            font-size: scaleVW(16, $desktop);
                        }
                        svg{
                            width: scaleVW(14, $desktop);
                            height: scaleVW(14, $desktop);
                        }
                        @media(max-width:768px){
                            gap: scaleVW(159, $movil);
                            height: scaleVW(44, $movil);
                            border-radius: scaleVW(4, $movil);
                            border: scaleVW(1, $movil) solid $blue;
                            span{
                                font-size: scaleVW(16, $movil);
                            }
                            svg{
                                width: scaleVW(14, $movil);
                                height: scaleVW(14, $movil);
                            }
                        }
                        &:hover{
                            background: $white;
                            span{
                                color: $blue;
                            }
                            svg{
                                path{
                                    stroke: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*======== Nav a dots ========*/
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: scaleWV(8, $desktop);
        list-style: none;
        margin-top: scaleVW(43, $desktop);
        .prev, .next{
            svg{
                width: scaleVW(40, $desktop);
                height: scaleVW(40, $desktop);
                @media(max-width:768px){
                    width: scaleVW(40, $movil);
                    height: scaleVW(40, $movil);
                }
            }
        }
        ul{
            list-style: none;
            display: flex;
            padding: scaleVW(8, $desktop);
            align-items: center;
            gap: scaleVW(10, $desktop);
            .dot{
                display: flex;
                width: scaleVW(12, $desktop);
                height: scaleVW(12, $desktop);
                border-radius: 50%;
                background: $gray;
            }
            .active{
                background: $blue;
                width: scaleVW(16, $desktop);
                height: scaleVW(16, $desktop);
            }
            @media(max-width:768px){
                padding: scaleVW(8, $movil);
                gap: scaleVW(10, $movil);
                .dot{
                    width: scaleVW(12, $movil);
                    height: scaleVW(12, $movil);
                }
                .active{
                    width: scaleVW(16, $movil);
                    height: scaleVW(16, $movil);
                }
            }
        }
    }
}