.sales-format-partial-f7eea0 {
    padding-bottom: scaleVW(140, $desktop);
    background: $gray_bg;
    h2{
        font-size: scaleVW(48, $desktop);
        line-height: LH(56, 48);
        margin-bottom: scaleVW(32, $desktop);
        color: $blue;
        font-weight: 700;
    }
    .table-content{
        overflow: hidden;
        border-radius: scaleVW(20, $desktop);
        table{
            width: 100%;
            thead{
                background: $blue_light;
                tr{
                    th{
                        padding: scaleVW(34, $desktop) scaleVW(24, $desktop);
                        color: $white;
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(30, 20);
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: scaleVW(16, $desktop) scaleVW(24, $desktop);
                        color: $gray;
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(30, 20);
                        font-weight: 400;
                        text-align: center;
                    }
                }
                tr:nth-child(odd){
                    background: #F9F9F9;
                }
                tr:nth-child(even){
                    background: #EAEAEA;
                }
            }
        }
    }
}