#archive-communities-template-1dc4c9 {
    .body-archive{
        position: relative;
        background: #ffffff;
        padding: 3rem 0;
        background: #ffffff;
        border-radius: 20px 20px  0 0;
        position: relative;
        top: -1rem;
    }
}