#contact-us-template-55cc3c {
    .contact-content{
        background: $gray_bg;
        padding: scaleVW(48, $desktop) 0 scaleVW(80, $desktop) 0;
        @media(max-width:768px){
            padding-top: scaleVW(48, $movil);
        }
        .text-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title-contain{
                display: flex;
                flex-direction: column;
                gap: scaleVW(32, $desktop);
                height: scaleVW(270.46, $desktop);
                margin-bottom: scaleVW(60, $desktop);
                .text-before-title{
                    color: $gray;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(36, 24);
                }
                h1{
                    max-width: scaleVW(756, $desktop);
                    font-size: scaleVW(48, $desktop);
                    line-height: LH(56, 48);
                    font-weight: 700;
                    color: $blue;
                    margin-bottom: 0;
                }
            }
            .social-network{
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: scaleVW(30, $desktop);
                    list-style: none;
                    padding: 0;
                    margin-bottom: 0;
                    li{
                        a{
                            display: flex;
                            width: scaleVW(30, $desktop);
                            color: $blue;
                            svg{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
            @media(max-width:768px){
                flex-direction: column;
                gap: scaleVW(31, $movil);
                width: scaleVW(402, $movil);
                align-items: flex-start;
                height: auto;
                margin-bottom: scaleVW(44, $movil);
                .title-contain{
                    width: 100%;
                    margin-bottom: 0;
                    height: auto;
                    .text-before-title{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(36, 16);
                    }
                    h1{
                        font-size: scaleVW(32, $movil);
                        line-height: LH(38, 32);
                        max-width: 100%;
                    }
                }
                .social-network{
                    ul{
                        flex-direction: row;
                        align-items: center;
                        gap: scaleVW(30, $movil);
                        li{
                            a{
                                width: scaleVW(30, $movil);
                            }
                        }
                    }
                }
            }
        }
        .form{
            width: scaleVW(1439, $desktop);
            @media(max-width:768px){
                width: scaleVW(402, $movil);
                margin: 0 auto;
            }
            .inputs-contain{
                display: flex;
                align-items: center;
                gap: scaleVW(32, $desktop);
                margin-bottom: scaleVW(48, $desktop);
                .input{
                    input{
                        padding: scaleVW(10, $desktop) scaleVW(10, $desktop) scaleVW(32, $desktop) scaleVW(10, $desktop);
                        background: transparent;
                        border: none;
                        border-bottom: scaleVW(2, $desktop) solid #CACACA;
                        color: $gray;
                        font-size: scaleVW(24, $desktop);
                        line-height: LH(36, 24);
                        width: scaleVW(458.33, $desktop);
                        height: scaleVW(78, $desktop);
                        outline: none;
                        &:focus{
                            border-color: $gray;
                        }
                    }
                }
                @media(max-width:768px){
                    flex-direction: column;
                    gap: scaleVW(48, $movil);
                    .input{
                        input{
                            width: scaleVW(402, $movil);
                            height: scaleVW(78, $movil);
                            font-size: scaleVW(24, $movil);
                            line-height: LH(36, 24);
                            border-bottom: scaleVW(2, $movil) solid #CACACA;
                            padding: scaleVW(10, $movil) scaleVW(10, $movil) scaleVW(32, $movil) scaleVW(10, $movil);
                        }
                    }
                }
            }
            .text-area{
                margin-bottom: scaleVW(48, $desktop);
                textarea{
                    padding: scaleVW(10, $desktop);
                    background: transparent;
                    border: none;
                    border-bottom: scaleVW(2, $desktop) solid #CACACA;
                    color: $gray;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(36, 24);
                    width: scaleVW(1439, $desktop);
                    height: scaleVW(146, $desktop);
                    outline: none;
                    &:focus{
                        border-color: $gray;
                    }
                }   
                @media(max-width:768px){
                    margin-bottom: scaleVW(48, $movil);
                    textarea{
                        padding: scaleVW(10, $movil);
                        font-size: scaleVW(24, $movil);
                        line-height: LH(36, 24);
                        border-bottom: scaleVW(2, $movil) solid #CACACA;
                        width: scaleVW(402, $movil);
                        height: scaleVW(146, $movil);
                    }
                }     
            }
            .policies-container{
                margin-bottom: scaleVW(48, $desktop);
                @media(max-width:768px){
                    margin-bottom: scaleVW(48, $movil);
                }
                p{
                    label{
                        display: flex;
                        align-items: center;
                        gap: scaleVW(8, $desktop);
                        cursor: pointer;
                        width: fit-content;
                        @media(max-width:768px){
                            gap: scaleVW(8, $movil);
                        }
                        br, .wpcf7-form-control-wrap{
                            display: none;
                        }
                        .checkbox{
                            display: block;
                            width: scaleVW(20, $desktop);
                            height: scaleVW(20, $desktop);
                            border-radius: scaleVW(5, $desktop);
                            border: scaleVW(2, $desktop) solid $gray;
                            position: relative;
                            &::before{
                                content: '';
                                display: none;
                                width: scaleVW(16, $desktop);
                                height: scaleVW(7, $desktop);
                                border-bottom: scaleVW(3, $desktop) solid $gray;
                                border-left: scaleVW(3, $desktop) solid $gray;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(-45deg);
                                transition: .2s;
                            }
                            @media(max-width:768px){
                                min-width: scaleVW(20, $movil);
                                min-height: scaleVW(20, $movil);
                                border-radius: scaleVW(5, $movil);
                                border: scaleVW(2, $movil) solid $gray;
                                &::before{
                                    width: scaleVW(16, $movil);
                                    height: scaleVW(7, $movil);
                                    border-bottom: scaleVW(3, $movil) solid $gray;
                                    border-left: scaleVW(3, $movil) solid $gray;
                                }
                            }
                        }
                        .checkbox.active{
                            &::before{
                                display: block;
                            }
                        }
                        .text{
                            font-size: scaleVW(20, $desktop);
                            line-height: LH(23, 20);
                            color: $gray;
                            font-weight: 300;
                            @media(max-width:768px){
                                font-size: scaleVW(12, $movil);
                                line-height: LH(14, 12);
                            }
                        }
                    }
                }
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: scaleVW(358, $desktop);
                height: scaleVW(70, $desktop);
                border: scaleVW(1, $desktop) solid $blue;
                border-radius: scaleVW(15, $desktop);
                background: $blue;
                color: $white;
                font-size: scaleVW(22, $desktop);
                line-height: LH(27, 22);
                font-weight: 600;
                gap: scaleVW(180, $desktop);
                outline: none;
                br{
                    display: none;
                }
                svg{
                    width: scaleVW(24, $desktop);
                    height: scaleVW(24, $desktop);
                }
                @media(max-width:768px){
                    width: scaleVW(402, $movil);
                    height: scaleVW(70, $movil);
                    border: scaleVW(1, $movil) solid $blue;
                    border-radius: scaleVW(15, $movil);
                    font-size: scaleVW(22, $movil);
                    justify-content: space-between;
                    padding: 0 scaleVW(25, $movil);
                    svg{
                        width: scaleVW(24, $movil);
                        height: scaleVW(24, $movil);
                    }
                }
                &:hover{
                    background: $white;
                    color: $blue;
                    svg{
                        path{
                            stroke: $blue;
                        }
                    }
                }
            }
        }
    }
    /*============ After form ============*/
    .after-form{
        position: relative;
        width: scaleVW(1920, $desktop);
        height: scaleVW(540, $desktop);
        padding: scaleVW(80, $desktop) 0;
        img{
            width: scaleVW(1920, $desktop);
            height: scaleVW(540, $desktop);
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::before{
            content: '';
            width: scaleVW(1920, $desktop);
            height: scaleVW(540, $desktop);
            background: rgba(57, 125, 201, 80%);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
        @media(max-width:768px){
            width: scaleVW(480, $movil);
            height: scaleVW(846, $movil);
            padding: scaleVW(50, $movil) 0;
            img, &::before{
                width: scaleVW(480, $movil);
                height: scaleVW(846, $movil);
            }
        }
        .text-contain{
            position: relative;
            z-index: 2;
            display: flex;
            gap: scaleVW(69, $desktop);
            @media(max-width:768px){
                flex-direction: column;
                gap: scaleVW(24, $movil);
            }
            .left-content{
                width: scaleVW(575, $desktop);
                height: scaleVW(184, $desktop);
                p{
                    color: $white;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(36, 24);
                    font-weight: 300;
                    margin-bottom: scaleVW(24, $desktop);
                }
                h2{
                    color: $blue;
                    font-size: scaleVW(48, $desktop);
                    line-height: LH(56, 48);
                    font-weight: 700;
                }
                @media(max-width:768px){
                    width: scaleVW(408, $movil);
                    height: scaleVW(130, $movil);
                    p{
                        font-size: scaleVW(20, $movil);
                        line-height: LH(36, 20);
                        margin-bottom: scaleVW(24, $movil);
                    }
                    h2{
                        font-size: scaleVW(32, $movil);
                        line-height: LH(37, 32);
                    }
                }
            }
            .right-contain{
                width: scaleVW(771, $desktop);
                height: scaleVW(380, $desktop);
                display: flex;
                gap: scaleVW(102, $desktop);
                @media(max-width:768px){
                    width: scaleVW(359, $movil);
                    height: scaleVW(380, $movil);
                    gap: scaleVW(5, $movil);
                    flex-direction: column;
                }
                .content{
                    width: scaleVW(359, $desktop);
                    padding: scaleVW(32, $desktop);
                    @media(max-width:768px){
                        width: scaleVW(359, $movil);
                        padding: 0;
                    }
                    h3{
                        color: $blue;
                        width: scaleVW(107, $desktop);
                        position: relative;
                        height: scaleVW(55, $desktop);
                        font-size: scaleVW(22, $desktop);
                        line-height: LH(27, 22);
                        position: relative;
                        font-weight: 700;
                        margin-bottom: scaleVW(27, $desktop);
                        &::after{
                            content: '';
                            width: scaleVW(27, $desktop);
                            height: scaleVW(3, $desktop);
                            background: $blue;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                        @media(max-width:768px){
                            width: scaleVW(99, $movil);
                            height: scaleVW(55, $movil);
                            font-size: scaleVW(22, $movil);
                             margin-bottom: scaleVW(27, $movil);
                            &::after{
                                width: scaleVW(27, $movil);
                                height: scaleVW(3, $movil);
                            }
                        }
                    }
                    .description{
                        color: $white;
                        a{
                            font-size: scaleVW(22, $desktop);
                            line-height: LH(27, 22);
                            font-weight: 600;
                            text-decoration: none;
                            color: $white;
                        }
                        strong{
                            font-size: scaleVW(22, $desktop);
                            line-height: LH(27, 22);
                            font-weight: 600;
                        }
                        p{
                            font-size: scaleVW(20, $desktop);
                            line-height: LH(32, 20);
                            font-weight: 300;
                        }
                        @media(max-width:768px){
                            a, strong{
                                font-size: scaleVW(22, $movil);
                            }
                            p{
                                font-size: scaleVW(20, $movil);
                            }
                        }
                    }
                }
            }
        }
    }
}