#contact-us-template-55cc3c {
    section{
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        .background-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before{
            content: '';
            width: 100%;
            height: 101%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 45, 116, .8);
            z-index: 9;
        }
        #content-contact{
            position: relative;
            z-index: 10;
            align-items: center;
            padding: 9rem 0 5rem 0;
            .title-page{
                color: #ffffff;
                font-size: 66px;
                font-weight: 600;
            }
            .desription-page{
                color: #ffffff;
                font-size: 29px;
                font-weight: 400;
            }
            .from-card{
                margin: 0 auto;
                background: $white;
                border-radius: 20px;
                padding: 2rem 1rem;
                max-width: 450px;
                z-index: 20;
                h2{
                    color: $blue;
                    font-weight: 700;
                    font-size: 2rem;
                }
                p{
                    color: $gray;
                    font-weight: 400;
                    font-size: .9rem;
                }
                .wpcf7-response-output{
                    background: #ffffff;
                    color: $blue;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 1rem;
                    border-color: #ffffff;
                }
                .form{
                    .input{
                        p{
                            margin-bottom: 0;
                            .wpcf7-not-valid-tip{
                                position: absolute;
                                right: 0;
                            }
                        }
                        label{
                            font-size: 1rem;
                            font-weight: 600;
                            color: $gray;
                        }
                        input{
                            width: 100%;
                            background: transparent;
                            height: 38px;
                            border-radius: 10px;
                            border: 1px solid $gray;
                            color: $gray;
                            padding: 0 10px;
                            outline: none;
                        }
                        textarea{
                            width: 100%;
                            background: transparent;
                            height: 38px;
                            border-radius: 10px;
                            border: 1px solid $gray;
                            height: 80px;
                            padding: 10px;
                            outline: none;
                        }
                    }
                    .policies-container{
                        label{
                            cursor: pointer;
                            display: flex;
                            br, .wpcf7-form-control-wrap{
                                display: none;
                            }
                            .checkbox{
                                width: 17px;
                                height: 17px;
                                border: 1px solid $blue;
                                border-radius: 4px;
                                position: relative;
                                &::before{
                                    content: '';
                                    width: 13px;
                                    height: 6px;
                                    border-left: 2px solid $blue;
                                    border-bottom: 2px solid $blue;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                    visibility: hidden;
                                    transition: .2s;
                                    display: none;
                                }
                            }
                            .checkbox.active{
                                &::before{
                                    visibility: visible;
                                    display: block;
                                }
                            }
                            .text{
                                padding-left: 10px;
                                color: $blue;
                                width: 90%;
                                font-size: 12px;
                                font-weight: 300;
                                a{
                                    color: $blue;
                                }
                            }
                        }
                    }
                    .submit{
                        p{
                            position: relative;
                            margin: 0;
                            .wpcf7-spinner{
                                position: absolute;
                                left: 60%;
                                top: 50%;
                                transform: translate(-60%, -50%);
                                z-index: 30;
                            }
                            br{
                                display: none;
                            }
                            .button-container{
                                display: flex;
                                outline: none;
                                border: none;
                                background: transparent;
                                br{
                                    display: none;
                                }
                                .text-button{
                                    background: $blue;
                                    padding: 9px 2.6rem 10px 2.6rem;
                                    border-radius: 20px;
                                    color: #ffffff;
                                    font-weight: 400;
                                    margin-right: .5rem;
                                    height: 40px;
                                    position: relative;
                                    font-size: 1rem;
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 20px;
                                        height: 15px;
                                        position: absolute;
                                        right: -12%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        z-index: 1;
                                        background: $blue;
                                    }
                                }
                                .icon{
                                    position: relative;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    background: $blue;
                                    &::after{
                                        content: '';
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        position: absolute;
                                        background: $white;
                                        left: -35%;
                                        transform: translateX(35%);
                                        top: 9.9%;
                                        z-index: 100;
                                    }
                                    &::before{
                                        content: '';
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        position: absolute;
                                        background: $white;
                                        left: -35%;
                                        transform: translateX(35%);
                                        top: 59.9%;
                                        z-index: 100;
                                    }
                                    svg{
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 14px;
                                        height: auto;
                                    }
                                }
                                &:hover{
                                    .text-button{
                                        background: #ffffff;
                                        color: $blue;
                                        &::before{
                                            background: #ffffff;
                                        }
                                    }
                                    .icon{
                                        background: #ffffff;
                                        svg{
                                            g{
                                                line{
                                                    stroke:$blue;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 480px) {
            #content-contact{
                .title-page{
                    font-size: 40px;
                }
                .desription-page{
                    font-size: 20px;
                }
            }
        }
    }
    section.pqr-section {
        padding: 2rem 0;
        &::before{
            content: '';
            background: none;
        }
        .pqr-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .pqr-left {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .pqr-title, .pqr-subtitle {
                    font-size: 2.5rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    color: #002d74;
                }
                .pqr-subtitle {
                    font-size: 1.5rem;
                }
                .pqr-list {
                    list-style: none;
                    padding: 0;
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        color: #002d74;
                        span {
                            margin-right: 1rem;
                            font-size: 1.2rem;
                            color: #002d74;
                        }
                        a {
                            color: #002d74;
                            text-decoration: none;
                        }
                    }
                }
            }
            .pqr-right {
                text-align: center;
            }
            
            .pqr-right p,
            .pqr-right h3,
            .pqr-right ul {
                display: inline-block;
                text-align: left;
                margin: 0px auto 0 140px;
            }
            .pqr-right {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                p {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    color: #002d74;
                }
                .pqr-title, .pqr-subtitle {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    color: #002d74;
                }
                img {
                    max-width: 80%;
                    height: auto;
                    margin-bottom: 1rem;
                }
                .pqr-list {
                    list-style: none;
                    padding: 0;
                    li {
                        display: flex;
                        .li-img {
                            width: 50px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-right: 20px;
                        }
                        .pqr-text {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            color: #002d74;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            @media (max-width: 480px) {
                .pqr-left {
                    width: 100%;
                    display: flex                    ;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
                .pqr-right {
                    width: 100%;
                    img {
                        max-width: 100%;
                        height: auto;
                        margin-bottom: 1rem;
                    }
                    li {
                        display: flex;
                        .li-img {
                            width: 40px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-right: 10px;
                        }
                        .pqr-text {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            color: #002d74;
                            font-size: 0.8rem;
                        }
                    }
                }
                .pqr-right p,
                .pqr-right h3,
                .pqr-right ul {
                    margin: 0 auto 0 0;
                }
            }
        }
    }
}