#map-template-3a0fe9 {
    section {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 150px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .map iframe {
            width: 100%;
            height: 500px;
            border: none;
        }        
    }
}