#single-blog-post-template-0f368e {
    .content-post{
        padding: 10rem 0 3rem 0;
        h1{
            color: $blue;
            font-weight: 400;
            font-size: 3.4rem;
            margin-bottom: 2rem;
        }
        .description{
            margin-bottom: 5rem;
            h2, h3, h4, h5, h6{
                color: $blue;
                font-weight: 700;
                font-size: 2rem;
            }
            p{
                color: $blue;
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
        .video-container{
            text-align: center;
            position: relative;
            padding-bottom: 50%;
            padding-top: 35px; 
            height: 0; 
            overflow: hidden;   
            iframe{
                position: absolute;
                top: 0;
                width: 80%;
                height: 80%;
                left: 50%;
                transform: translateX(-50%);
                @media(max-width:500px){
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    /*=========== count metrics ============*/
    .counters-metric{
        padding-bottom: 4rem;
        .share-and-likes{
            display: flex;
            align-items: center;
            justify-content: center;
            .cta-likes{
                position: relative;
                width: 40px;
                height: 40px;
                border: 1px solid $blue;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 2rem;
                svg{
                    position: absolute;
                    width: 20px;
                    height: auto;
                    left: 50%;
                    top: 58%;
                    transform: translate(-50%, -58%);
                    path{
                        fill: $blue;
                    }             
                }
            }
            .cta-likes.active{
                background: $blue;
                svg{
                    path{
                        fill: #ffffff;
                    }
                }
            }
            .share-end{
                position: relative;
                display: flex;
                .cta-share-action-end{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $blue;
                    border-radius: 50%;
                    cursor: pointer;
                    svg{
                        position: absolute;
                        width: 20px;
                        height: auto;
                        left: 50%;
                        top: 58%;
                        transform: translate(-50%, -58%);
                        g{
                            path{
                                fill: $blue;
                            }   
                        }          
                    }
                }
                .cta-share-action-end.active{
                    background: $blue;
                    svg{
                        g{
                            path{
                                fill: #ffffff;
                            }   
                        }  
                    }
                }
                .content-cta-share-end{
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 14px);
                    transform: translateY(-50%);
                    div#st-1{
                        display: flex !important;
                        opacity: 1 !important;
                        padding: 0px 1rem;
                        border: 1px solid $blue;
                        border-radius: 20px;
                    }
                    .st-btn{
                        min-width: fit-content !important;
                        display: block !important;
                        background: transparent !important;
                        position: relative !important;
                        width: 40px !important;
                        height: 40px !important;
                        img{
                            width: 30px !important;
                            height: 30px !important;
                            position: absolute !important;
                            top: 50% !important;
                            left: 50% !important;
                            transform: translate(-50%, -50%) !important;
                        }
                        .st-label{
                            display: none !important;
                        }
                        &:hover{
                            top: 0 !important;
                        }
                    }
                }
            }
        }
        h2{
            color: $blue;
        }
        .data-counters{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .likes-contain{
                width: fit-content;
                display: flex;
                align-items: center;
                .svg{
                    svg{
                        width: 20px;
                        height: auto;
                        path{
                            fill: $blue;
                        }  
                    }
                    margin-right: 10px;
                }
                .likes-count{
                    position: relative;
                    p{
                        font-size: 1.2rem;
                        color: $blue;
                        margin-bottom: 0;
                        line-height: 0;
                        padding-top: 5px;
                    }
                }
            }
            /*============ publish date =============*/
            .date-publish{
                width: fit-content;
                display: flex;
                align-items: center;
                position: relative;
                margin-left: 10px;
                .svg{
                    svg{
                        width: 20px;
                        height: auto;
                        path{
                            fill: $blue;
                        }  
                    }
                    margin-right: 10px;
                }
                .date{
                    position: relative;
                    width: fit-content;
                    p{
                        font-size: 1.2rem;
                        color: $blue;
                        margin-bottom: 0;
                        line-height: 0;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    /*============== Related post ==============*/
    .related-post{
        padding: scaleVW(96, $desktop) 0;
        background: #F5F5F5;
        @media(max-width:768px){
            padding: scaleVW(96, $movil) 0;
        }
        .container{
            @media(max-width:768px){
                max-width: 100%;
            }
            h2{
                font-size: scaleVW(48, $desktop);
                line-height: LH(56, 48);
                margin: 0 auto scaleVW(32, $desktop) auto;
                color: $blue;
                font-weight: 700;
                width: scaleVW(1234, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(32, $movil);
                    line-height: LH(38, 32);
                    width: 100%;
                    max-width: scaleVW(423, $movil);
                    margin: 0 auto;
                    margin-bottom: scaleVW(64, $movil);
                }
            }
        }
        .related-manuals-contain{
            width: 100%;
            padding: 0 scaleVW(60, $desktop);
            position: relative;
            @media(max-width:768px){
                padding: 0;
            }
            .slide-related-post{
                max-width: scaleVW(1114, $desktop);
                margin: 0 auto;
                @media(max-width:768px){
                    max-width: 100%;
                }
                .owl-stage-outer{
                    position: relative;
                    z-index: 1;
                    .item{
                        a{
                            display: flex;
                            flex-direction: column;
                            width: scaleVW(350, $desktop);
                            height: scaleVW(405, $desktop);
                            overflow: hidden;
                            border-radius: scaleVW(20, $desktop);
                            text-decoration: none;
                            @media(max-width:768px){
                                width: 100%;
                                max-width: scaleVW(355, $movil);
                                height: scaleVW(405, $movil);
                                border-radius: scaleVW(20, $movil);
                            }
                            img{
                                width: 100%;
                                height: scaleVW(190, $desktop);
                                object-fit: cover;
                                object-position: center;
                                @media(max-width:768px){
                                    height: scaleVW(174, $movil);
                                }
                            }
                            .text-contain{
                                padding: scaleVW(24, $desktop);
                                height: scaleVW(247, $desktop);
                                width: 100%;
                                background: $white;
                                h3{
                                    font-size: scaleVW(20, $desktop);
                                    line-height: LH(23, 20);
                                    color: $gray;
                                    margin-bottom: scaleVW(16, $desktop);
                                    font-weight: 600;
                                }
                                p{
                                    font-size: scaleVW(18, $desktop);
                                    line-height: LH(21, 18);
                                    color: $gray;
                                    margin-bottom: 0;
                                    font-weight: 300;
                                }
                                @media(max-width:768px){
                                    padding: scaleVW(24, $movil);
                                    height: scaleVW(231, $movil);
                                    h3{
                                        font-size: scaleVW(20, $movil);
                                        margin-bottom: scaleVW(16, $movil);
                                    }
                                    p{
                                        font-size: scaleVW(18, $movil);
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav{
                    display: flex;
                    width: scaleVW(1234, $desktop);
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    button{
                        svg{
                            width: scaleVW(60, $desktop);
                            height: scaleVW(60, $desktop);
                        }
                    }
                }
                .owl-dots{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: scaleVW(12, $desktop);
                    margin-top: scaleVW(64, $desktop);
                    .owl-dot{
                        width: scaleVW(8, $desktop);
                        height: scaleVW(8, $desktop);
                        border-radius: 50%;
                        background: #C1C1C1;
                    }
                    @media(max-width:768px){
                        gap: scaleVW(12, $movil);
                        margin-top: scaleVW(64, $movil);
                        .owl-dot{
                            width: scaleVW(8, $movil);
                            height: scaleVW(8, $movil);
                        }
                    }
                    .active{
                        background: #777777;
                    }
                }
            }
        }
    }
}