#single-blog-post-template-0f368e {
    .title-contain{
        background: $white;
        padding-top: scaleVW(64, $desktop);
        @media(max-width:768px){
            padding-top: scaleVW(64, $movil);
        }
        .category{
            display: flex;
            align-items: center;
            justify-content: center;
            width: scaleVW(109, $desktop);
            height: scaleVW(32, $desktop);
            border-radius: scaleVW(6, $desktop);
            color: $white;
            background: $blue;
            font-size: scaleVW(14, $desktop);
            line-height: LH(20, 14);
            font-weight: 400;
            margin-bottom: scaleVW(16, $desktop);
            @media(max-width:768px){
                width: scaleVW(109, $movil);
                height: scaleVW(32, $movil);
                border-radius: scaleVW(6, $movil);
                font-size: scaleVW(14, $movil);
                line-height: LH(20, 14);
                margin-bottom: scaleVW(16, $movil);
            }
        }
        h1{
            font-size: scaleVW(36, $desktop);
            line-height: LH(40, 36);
            color: $blue;
            font-weight: 700;
            width: scaleVW(1234, $desktop);
            margin-bottom: scaleVW(20, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(32, $movil);
                line-height: LH(40, 32);
                width: 100%;
                max-width: scaleVW(423, $movil);
                margin: 0 auto;
                margin-bottom: scaleVW(20, $movil);
            }
        }
        .publish{
            display: flex;
            align-items: center;
            gap: scaleVW(24, $desktop);
            .author{
                display: flex;
                align-items: center;
                gap: scaleVW(8, $desktop);
                .author-avatar{
                    img{
                        width: scaleVW(34, $desktop);
                        height: scaleVW(34, $desktop);
                        border-radius: 50%;
                        @media(max-width:768px){
                            width: scaleVW(34, $movil);
                            height: scaleVW(34, $movil);
                        }
                    }
                }
                .author-info{
                    margin: 0;
                    font-size: scaleVW(16, $desktop);
                    line-height: LH(20, 16);
                    color: #777777;
                    font-weight: 600;
                    @media(max-width:768px){
                        font-size: scaleVW(16, $movil);
                        line-height: LH(20, 16);
                    }
                }
            }
            .date{
                margin: 0;
                font-size: scaleVW(16, $desktop);
                line-height: LH(20, 16);
                color: #777777;
                font-weight: 400;
                @media(max-width:768px){
                    font-size: scaleVW(16, $movil);
                    line-height: LH(20, 16);
                }
            }
        }
    }
    /*========== The content ==========*/
    .the-content{
        padding: scaleVW(32, $desktop) 0;
        background: $white;
        color: $gray;
        p, li, a{
            font-size: scaleVW(20, $desktop);
            line-height: LH(32, 20);
            font-weight: 400;
            width: scaleVW(1415, $desktop);
            font-weight: 400;
            @media(max-width:768px){
                font-size: scaleVW(16, $movil);
                line-height: LH(20, 16);
                margin-bottom: scaleVW(24, $movil);
                width: scaleVW(406, $movil);
            }
        }
        strong, h2, h3, h4, h5, h6{
            font-size: scaleVW(24, $desktop);
            line-height: LH(32, 24);
            font-weight: 600;
            width: scaleVW(1415, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(20, $movil);
                line-height: LH(24, 20);
                width: scaleVW(406, $movil);
            }
        }
        a{
            color: $gray;
        }
        img{
            width: scaleVW(1432, $desktop);
            height: scaleVW(462, $desktop);
            border-radius: scaleVW(12, $desktop);
            object-fit: cover;
            object-position: center;
            @media(max-width:768px){
                width: scaleVW(406, $movil);
                height: scaleVW(462, $movil);
                border-radius: scaleVW(12, $movil);
            }
        }
    }
    /*============== Related post ==============*/
    .related-post{
        padding: scaleVW(96, $desktop) 0;
        background: #F5F5F5;
        @media(max-width:768px){
            padding: scaleVW(96, $movil) 0;
        }
        .container{
            @media(max-width:768px){
                max-width: 100%;
            }
            h2{
                font-size: scaleVW(48, $desktop);
                line-height: LH(56, 48);
                margin: 0 auto scaleVW(32, $desktop) auto;
                color: $blue;
                font-weight: 700;
                width: scaleVW(1234, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(32, $movil);
                    line-height: LH(38, 32);
                    width: 100%;
                    max-width: scaleVW(423, $movil);
                    margin: 0 auto;
                    margin-bottom: scaleVW(64, $movil);
                }
            }
        }
        .related-manuals-contain{
            width: 100%;
            padding: 0 scaleVW(60, $desktop);
            position: relative;
            @media(max-width:768px){
                padding: 0;
            }
            .slide-related-post{
                max-width: scaleVW(1114, $desktop);
                margin: 0 auto;
                @media(max-width:768px){
                    max-width: 100%;
                }
                .owl-stage-outer{
                    position: relative;
                    z-index: 1;
                    .item{
                        a{
                            display: flex;
                            flex-direction: column;
                            width: scaleVW(350, $desktop);
                            height: scaleVW(405, $desktop);
                            overflow: hidden;
                            border-radius: scaleVW(20, $desktop);
                            text-decoration: none;
                            @media(max-width:768px){
                                width: 100%;
                                max-width: scaleVW(355, $movil);
                                height: scaleVW(405, $movil);
                                border-radius: scaleVW(20, $movil);
                            }
                            img{
                                width: 100%;
                                height: scaleVW(190, $desktop);
                                object-fit: cover;
                                object-position: center;
                                @media(max-width:768px){
                                    height: scaleVW(174, $movil);
                                }
                            }
                            .text-contain{
                                padding: scaleVW(24, $desktop);
                                height: scaleVW(247, $desktop);
                                width: 100%;
                                background: $white;
                                h3{
                                    font-size: scaleVW(20, $desktop);
                                    line-height: LH(23, 20);
                                    color: $gray;
                                    margin-bottom: scaleVW(16, $desktop);
                                    font-weight: 600;
                                }
                                p{
                                    font-size: scaleVW(18, $desktop);
                                    line-height: LH(21, 18);
                                    color: $gray;
                                    margin-bottom: 0;
                                    font-weight: 300;
                                }
                                @media(max-width:768px){
                                    padding: scaleVW(24, $movil);
                                    height: scaleVW(231, $movil);
                                    h3{
                                        font-size: scaleVW(20, $movil);
                                        margin-bottom: scaleVW(16, $movil);
                                    }
                                    p{
                                        font-size: scaleVW(18, $movil);
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav{
                    display: flex;
                    width: scaleVW(1234, $desktop);
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    button{
                        svg{
                            width: scaleVW(60, $desktop);
                            height: scaleVW(60, $desktop);
                        }
                    }
                }
                .owl-dots{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: scaleVW(12, $desktop);
                    margin-top: scaleVW(64, $desktop);
                    .owl-dot{
                        width: scaleVW(8, $desktop);
                        height: scaleVW(8, $desktop);
                        border-radius: 50%;
                        background: #C1C1C1;
                    }
                    @media(max-width:768px){
                        gap: scaleVW(12, $movil);
                        margin-top: scaleVW(64, $movil);
                        .owl-dot{
                            width: scaleVW(8, $movil);
                            height: scaleVW(8, $movil);
                        }
                    }
                    .active{
                        background: #777777;
                    }
                }
            }
        }
    }
}