.products-list-partial-fb197d {
    #loading{
        text-align: center;
        img{
            width: 100%;
            max-width: 400px;
            height: auto;
        }
    }
    .card-produc{
        text-align: center;
        text-decoration: none;
        .body-product{
            text-align: center;
            .img-container{
                position: relative;
                &::before{
                    content: '';
                    background: #D9D9D9;
                    width: 70%;
                    min-width: 210px;
                    max-width: 210px;
                    height: 90%;
                    border-radius: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .color-hover{
                    display: none;
                    width: 70%;
                    min-width: 210px;
                    max-width: 210px;
                    height: 90%;
                    border-radius: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .2s;
                }
                img{
                    max-width: 200px;
                    height: auto;
                    position: relative;
                    z-index: 10;
                    margin: 0 auto;
                }
            }
            .product-name{
                margin-top: 1.4rem;
                h4{
                    color: $blue;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: 400;
                }
            }
            &:hover{
                .img-container{
                    .color-hover{
                        display: block;
                    }
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
    .message-zero{
        h2{
            color: $blue;
            font-weight: 700;
            font-size: 3.5rem;
            margin-bottom: 0;
        }
        p{
            color: $blue;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}