.taxonomies-partial-a0ac83 {
    .banner{
        display: flex;
        .card-taxonomy{
            height: scaleVW(452, $desktop);
            overflow: hidden;
            display: flex;
            align-items: center;
            .secondary-image{
                width: 0;
                height: 100%;
                overflow: hidden;
                transition: .2s;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .card-content{
                width: scaleVW(351, $desktop);
                height: 100%;
                position: relative;
                cursor: pointer;
                .main-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: cover;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: rgba(0, 45, 116, 80%);
                }
                .text-contain{
                    position: absolute;
                    top: scaleVW(58, $desktop);
                    left: scaleVW(43, $desktop);
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    gap: scaleVW(27, $desktop);
                    h3{
                        color: $white;
                        font-size: scaleVW(48, $desktop);
                        line-height: LH(50, 48);
                        filter: drop-shadow(0px 3px 4px $gray);
                        min-height: scaleVW(100, $desktop);
                        font-weight: 700;
                    }
                    p{
                        color: $white;
                        font-weight: 400;
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(23, 20);
                        max-width: scaleVW(202, $desktop);
                    }
                }
                a{
                    display: flex;
                    position: absolute;
                    right: scaleVW(32, $desktop);
                    bottom: scaleVW(26, $desktop);
                    z-index: 1;
                    transition: .2s;
                    svg{
                        width: scaleVW(28, $desktop);
                        height: scaleVW(28, $desktop);
                    }
                    &:hover{
                        right: scaleVW(28, $desktop);
                    }
                }
            }
            .blue{
                background: $blue_light;
                &::after{
                    display: none;
                }
            }
        }
        .card-taxonomy.active{
            .secondary-image{
                width: scaleVW(515, $desktop);
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    .category-nav{
        background: $gray_bg;
        padding-top: scaleVW(38, $desktop);
        .category-list{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            background: $blue;
            border-radius: scaleVW(10, $desktop);
            padding: scaleVW(30, $desktop) 0;
            li{
                border-right: scaleVW(2, $desktop) solid #849EC1;
                a{
                    display: flex;
                    width: scaleVW(348, $desktop);
                    height: scaleVW(70, $desktop);
                    align-items: center;
                    justify-content: center;
                    gap: scaleVW(15, $desktop);
                    text-decoration: none;
                    color: $white;
                    font-size: scaleVW(32, $desktop);
                    line-height: LH(38, 32);
                    font-weight: 400;
                    img{
                        width: scaleVW(32, $desktop);
                        height: scaleVW(32, $desktop);
                    }
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
}