.footer-content-partial-ecbbb5 {
    background: $blue;
    padding: scaleVW(79, $desktop) 0 scaleVW(73, $desktop) 0;
    @media(max-width:768px){
        padding: scaleVW(66, $movil) 0 scaleVW(67, $movil) 0;
    }
    .footer-content{
        display: flex;
        gap: scaleVW(270, $desktop);
        margin-bottom: scaleVW(126, $desktop);
        @media(max-width:768px){
            flex-direction: column;
            gap: scaleVW(68, $movil);
            margin-bottom: scaleVW(93, $movil);
        }
        .logo-contain{
            width: scaleVW(292, $desktop);
            display: flex;
            flex-direction: column;
            gap: scaleVW(33, $desktop);
            img{
                width: scaleVW(283.45, $desktop);
                height: scaleVW(50.06, $desktop);
            }
            .slogan{
                color: #B2B2B2;
                font-size: scaleVW(16, $desktop);
                line-height: LH(24, 16);
                margin-bottom: 0;
            }
            @media(max-width:768px){
                width: scaleVW(292, $movil);
                gap: scaleVW(8, $movil);
                img{
                    width: scaleVW(283.45, $movil);
                    height: scaleVW(50.06, $movil);
                }
                .slogan{
                    font-size: scaleVW(16, $movil);
                }
            }
        }
        /*========== Right content desktop =========*/
        .right-content{
            display: flex;
            gap: scaleVW(100, $desktop);
            width: scaleVW(830.71, $desktop);
            justify-content: space-between;
            @media(max-width:768px){
                flex-direction: column;
                width: scaleVW(388, $movil);
                gap: scaleVW(68, $movil);
            }
            .nav-content{
                width: scaleVW(438.71, $desktop);
                display: flex;
                gap: scaleVW(135, $desktop);
                .nav-item{
                    width: scaleVW(152, $desktop);
                    h4{
                        color: $white;
                        font-size: scaleVW(20, $desktop);
                        line-height: LH(23, 20);
                        margin-bottom: scaleVW(24, $desktop);
                        font-weight: 700;
                    }
                    .the-nav{
                        ul{
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            li{
                                a{
                                    color: #B2B2B2;
                                    font-size: scaleVW(16, $desktop);
                                    text-decoration: none;
                                    line-height: LH(24, 18);
                                }
                            }
                        }
                    }
                }
                @media(max-width:768px){
                    width: 100%;
                    gap: scaleVW(14, $movil);
                    .nav-item{
                        width: scaleVW(182, $movil);
                        h4{
                            font-size: scaleVW(20, $movil);
                            margin-bottom: scaleVW(24, $movil);
                        }
                        .the-nav{
                            ul{
                                li{
                                    a{
                                        font-size: scaleVW(18, $movil);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .contact-us{
                width: scaleVW(227, $desktop);
                h4{
                    color: $white;
                    font-size: scaleVW(20, $desktop);
                    line-height: LH(23, 20);
                    margin-bottom: scaleVW(24, $desktop);
                    font-weight: 700;
                    padding-left: scaleVW(35, $desktop);
                }
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: scaleVW(24, $desktop);
                    li{
                        color: #B2B2B2;
                        font-size: scaleVW(18, $desktop);
                        text-decoration: none;
                        line-height: LH(24, 18);
                        display: flex;
                        gap: scaleVW(18, $desktop);
                    }
                }
                @media(max-width:768px){
                    display: flex;
                    align-items: center;
                    width: scaleVW(407, $movil);
                    justify-content: space-between;
                    .contact{
                        width: scaleVW(388, $movil);
                        h4{
                            font-size: scaleVW(20, $movil);
                            margin-bottom: scaleVW(24, $movil);
                        }
                        ul{
                            width: scaleVW(226, $movil);
                            li{
                                font-size: scaleVW(16, $movil);
                                gap: scaleVW(18, $movil);
                            }
                        }
                    }
                    .social-networks{
                        display: flex;
                        flex-direction: column;
                        gap: scaleVW(30, $movil);
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li{
                            a{
                                color: #D4D4D4;
                                svg{
                                    width: scaleVW(31.74, $movil);
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-content{
        .content{
            .users-content{
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    justify-content: end;
                    gap: scaleVW(57, $desktop);
                    li{
                        a{
                            color: #D4D4D4;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: scaleVW(24, $desktop);
                            font-size: scaleVW(24, $desktop);
                            line-height: LH(28, 24);
                            font-weight: 400;
                            svg{
                                width: scsleVW(33, $desktop);
                                height: scaleVW(33, $desktop);
                                path{
                                    stroke: #D4D4D4;
                                }
                            }
                        }
                    }
                    @media(max-width:768px){
                        gap: scaleVW(47, $movil);
                        justify-content: space-between;
                        li{
                            a{
                                font-size: scaleVW(20, $movil);
                                line-height: LH(23, 20);
                                gap: scaleVW(22, $movil);
                                svg{
                                    width: scaleVW(30.66, $movil);
                                    height: scaleVW(30.66, $movil);
                                }
                            }
                        }
                    }
                }
            }
            hr{
                background: #9DA6B4;
                opacity: 1;
                height: scaleVW(1, $desktop);
                margin-top: scaleVW(23, $desktop);
                @media(max-width:768px){
                    margin-top: scaleVW(50, $movil);
                    margin-bottom: scaleVW(45, $movil);
                    height: scaleVW(1, $movil);
                }
            }
            .end{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                @media(max-width:768px){
                    justify-content: center;
                }
                .copi-right{
                    font-size: scaleVW(18, $desktop);
                    line-height: LH(20, 18);
                    color: #B2B2B2;
                    margin-bottom: 0;
                    font-weight: 400;
                    @media(max-width:768px){
                        font-size: scaleVW(16, $movil);
                        line-height: LH(18, 16);
                        text-align: center;
                    }
                }
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    gap: scaleVW(32, $desktop);
                    align-items: center;
                    @media(max-width:768px){
                        display: none;
                    }
                    li{
                        a{
                            color: #B3B3B3;
                            svg{
                                width: scaleVW(31.08, $desktop);
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}