.footer-content-partial-ecbbb5 {
    background: #002D74;
    padding: 3rem 0;
    position: relative;
    z-index: 2;
    .container{
        width: 100%;
        max-width: 1392px;
        .contain-left{
            h3{
                color: $yellow;
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 3rem;
            }
            img{
                max-width: 188px;
                height: auto;
            }
        }
        .suscribe{
            position: relative;
            .intro{
                color: $yellow;
                font-weight: 600;
                font-size: 22px;
            }
            .wpcf7-response-output{
                background: #ffffff;
                color: $blue;
                font-size: 16px;
                font-weight: 300;
                padding: 1rem;
                border-color: #ffffff;
            }
            .input-and-button{
                position: relative;
                display: flex;
                max-width: 360px;
                br{
                    display: none;
                }
                input[type="email"]{
                    background: transparent;
                    color: $yellow;
                    border: 1px solid $yellow;
                    height: 40px;
                    border-radius: 30px;
                    padding: 0 1rem;
                    color: $yellow;
                    outline: none;
                    max-width: 300px;
                    &::placeholder{
                        color: $yellow;
                        opacity: .5;
                    }
                    
                }
                .wpcf7-spinner{
                    position: absolute;
                    top: 150%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .button{
                    position: absolute;
                    top: -1px;
                    right: 0;
                    display: flex;
                    outline: none;
                    border: none;
                    background: transparent;
                    .text-button{
                        background: $yellow;
                        padding: 9px 1.6rem 10px 1.6rem;
                        border-radius: 20px;
                        color: $blue;
                        font-weight: 400;
                        margin-right: .5rem;
                        height: 40px;
                        position: relative;
                        font-size: 1rem;
                        &::before{
                            content: '';
                            display: block;
                            width: 20px;
                            height: 15px;
                            position: absolute;
                            right: -12%;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                            background: $yellow;
                        }
                    }
                    .icon-suscribe{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: $yellow;
                        &::after{
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            background: #002D74;
                            left: -35%;
                            transform: translateX(35%);
                            top: 9.9%;
                            z-index: 100;
                        }
                        &::before{
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            background: #002D74;
                            left: -35%;
                            transform: translateX(35%);
                            top: 59.9%;
                            z-index: 100;
                        }
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 14px;
                            height: auto;
                            color: $blue;
                        }
                    }
                    &:hover{
                        .text-button{
                            background: #ffffff;
                            color: $blue;
                            &::before{
                                background: #ffffff;
                            }
                        }
                        .icon-suscribe{
                            background: #ffffff;
                            svg{
                               color: $blue;
                            }
                        }
                    }
                }
                @media(max-width:1150px){
                    flex-direction: column;
                    max-width: 100%;
                    input[type="email"]{
                        max-width: 100%;
                        width: 100%;
                    }
                    .button{
                        position: relative;
                        top: 0;
                        margin: 1rem auto;

                    }
                }
            }
            .policies-container{
                label{
                    cursor: pointer;
                    display: flex;
                    br, .wpcf7-form-control-wrap{
                        display: none;
                    }
                    .checkbox{
                        width: 14px;
                        height: 14px;
                        border: 1px solid $yellow;
                        border-radius: 4px;
                        position: relative;
                        &::before{
                            content: '';
                            width: 10px;
                            height: 4px;
                            border-left: 2px solid $yellow;
                            border-bottom: 2px solid $yellow;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-45deg);
                            visibility: hidden;
                            transition: .2s;
                            display: none;
                        }
                    }
                    .checkbox.active{
                        &::before{
                            visibility: visible;
                            display: block;
                        }
                    }
                    .text{
                        padding-left: 10px;
                        color: $yellow;
                        width: 80%;
                        font-size: 12px;
                        font-weight: 300;
                        a{
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .menu-nav-container{
            .nav-footer{
                h4{
                    color: $yellow;
                    font-weight: 600;
                }
                .the-nav{
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li{
                            margin-bottom: .3rem;
                            a{
                                text-decoration: none;
                                color: $yellow;
                                font-weight: 300;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
        .contact-container{
            max-width: 350px;
            p{
                color: $yellow;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1;
                padding-left: 10px;
                @media(max-width:500px){
                    max-width: 313px;
                    margin: 0 auto 1rem auto;
                }
            }
            .contact-contain{
                ul{
                    list-style: none;
                    padding: 1rem;
                    border-radius: 20px 0 20px 20px;
                    background: #001D3F;
                    position: relative;
                    width: 300px;
                    &::before{
                        content: "";
                        width: 78px;
                        height: 50px;
                        border-radius: 20px 20px 0 0;
                        background: #001D3F;
                        position: absolute;
                        right: 0;
                        top: -30%;
                        transform: translateY(30%);
                    }
                    &::after{
                        content: "";
                        width: 15px;
                        height: 15px;
                        background: #001D3F;
                        position: absolute;
                        top: -7%;
                        left: 73%;
                        transform: translate(-73%, -7%);
                    }
                    .rounde{
                        display: block;
                        width: 15px;
                        height: 17px;
                        background: #002D74;
                        position: absolute;
                        top: -10%;
                        left: 72.5%;
                        transform: translate(-72.5%, 0%);
                        border-radius: 0 0 30px 0;
                        z-index: 10;
                    }
                    li{
                        color: $yellow;
                        display: flex;
                        align-items: start;
                        .icon{
                            font-size: 1.3rem;
                            margin-right: 10px;
                        }
                        .text{
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            @media(max-width:360px){
                margin: 0 auto;
                max-width: 380px;
                .contact-contain{
                    ul{
                        max-width: 350px;
                        margin: 0 auto;
                        &::before{
                            width: 66px;
                        }
                        &::after{
                            left: 77%;
                            transform: translate(-77%, -7%);
                        }
                        .rounde{
                            top: -9.8%;
                            left: 76.8%;
                            transform: translate(-76%, 0%);
                        }
                    }
                }
            }
            @media screen and (min-width:361px) and (max-width:768px){
                margin: 0 auto;
                max-width: 380px;
                .contact-contain{
                    ul{
                        max-width: 350px;
                        margin: 0 auto;
                        &::before{
                            width: 66px;
                        }
                        &::after{
                            left: 77%;
                            transform: translate(-77%, -7%);
                        }
                        .rounde{
                            top: -9.5%;
                            left: 76.8%;
                            transform: translate(-76%, 0%);
                        }
                    }
                }
            }
        }
        .copi-right-container{
            border-top: 1px solid $yellow;
            margin-top: 2rem;
            padding: 2rem 0 0 0;
            align-items: center;
            .copi-right{
                color: $yellow;
                font-size: 16px;
                font-weight: 300;
                margin: 0;
                @media(max-width:768px){
                    text-align: right;
                    margin-top: 1rem;
                }
            }
            .favicon{
                img{
                    width: 36px;
                }
            }
            .follow-us{
                display: flex;
                justify-content: right;
                align-items: center;
                p{
                    color: $yellow;
                    font-size: 16px;
                    margin-bottom: 0;
                    margin-right: 7px;
                }
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        margin: 0 7px;
                        a{
                            display: block;
                            width: 40px;
                            height: 40px;
                            border: 1px solid $yellow;
                            border-radius: 50%;
                            background: transparent;
                            position: relative;
                            color: $yellow;
                            svg{
                                font-size: 1.2rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
        .users-ctas{
            ul{
                display: flex;
                align-items: center;
                padding: 0;
                list-style: none;
                justify-content: right;
                @media(max-width:768px){
                    justify-content: center;
                }
                li{
                    margin: 0 10px;
                    a{
                        display: flex;
                        align-items: center;
                        border: 1px solid $yellow;
                        border-radius: 30px;
                        color: $yellow;
                        text-decoration: none;
                        padding: 5px 20px;
                        font-weight: 400;
                        svg{
                            width: 18px;
                            height: auto;
                            margin-right: 10px;
                            transition: .2s;
                        }
                        &:hover{
                            background: $yellow;
                            color: $blue;
                            svg{
                                g{
                                    g{
                                        path{
                                            fill: $blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(max-width:768px){
            padding: 0 1.5rem;
        }
        @media(min-width:1500px){
            max-width: 95%;
        }
    }
}