.header-content-partial-777e2f {
    background: $white;
    position: relative;
    /*========= Top content =========*/
    .top-content-menu{
        padding: scaleVW(22, $desktop) 0;
        border-bottom:1px solid $blue;
        @media(max-width:768px){
            display: none;
        }
        .company-menu{
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: scaleVW(59, $desktop);
                justify-content: end;
                .client-cta{
                    a{
                        display: flex;
                        align-items: center;
                        gap: scaleVW(24, $desktop);
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $desktop);
                        font-weight: 400;
                        svg{
                            width: scaleVW(22, $desktop);
                            height: scaleVW(24.75, $desktop);
                            path{
                                fill: $blue;
                            }
                        }
                    }
                }
                .wpm-languages{
                    position: relative;
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $desktop);
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap:scaleVW(23, $desktop);
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%205.2L10.6%200.6L12%202L6%208L0%202L1.4%200.6L6%205.2Z%22%20fill%3D%22%23002D74%22/%3E%3C/svg%3E");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    .sub-menu{
                        display: none;
                        position: absolute;
                        top: 76%;
                        li{
                            a{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                    .show{
                        display: block;
                    }
                }
            }
        }
    }
    /*========= Bottom content =========*/
    .main-menu{
        padding: scaleVW(33, $desktop) 0 scaleVW(41, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(27, $movil) 0;
        }
        .custom-logo{
            width: scaleVW(264, $desktop);
            height: scaleVW(46, $desktop);
            @media(max-width:768px){
                width: scaleVW(201, $movil);
                height: scaleVW(35, $movil);
            }
        }
        .nav-container{
            ul{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: scaleVW(39, $desktop);
                list-style: none;
                justify-content: end;
                li{
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-weight: 400;
                        font-size: scaleVW(24, $desktop);
                        position: relative;
                        z-index: 11;
                        &::after{
                            content: '';
                            width: 0;
                            height: scaleVW(2, $desktop);
                            display: block;
                            background: $blue;
                            transition: .2s;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    a.active{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        /*========== Menu controller =========*/
        .menu-movil-contain{
            align-items: center;
            gap: scaleVW(37, $movil);
            .search-controller{
                svg{
                    width: scaleVW(25.65, $movil);
                    height: scaleVW(25.65, $movil);
                }
            }
            .bar-menu{
                display: flex;
                flex-direction: column;
                gap: scaleVW(3, $movil);
                span{
                    background: $blue;
                    border-radius: 20px;
                    width: scaleVW(26.25, $movil);
                    height: scaleVW(4, $movil);
                    display: block;
                }
            }
        }
    }
    /*========== Drop menu ==========*/
    #submenu{
        background: $white;
        display: none;
        padding: scaleVW(44, $desktop) 0;
        height: scaleVW(632, $desktop);
        overflow-Y: auto;
        position: absolute;
        bottom: 0;
        transform: translateY(99%);
        left: 0;
        width: 100%;
        z-index: 10;
        border-top: scaleVW(1.5, $desktop) solid $blue;
        &::-webkit-scrollbar {
            width: scaleVW(6, $desktop);
            background: transparent;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.5);
            width: scaleVW(6, $desktop);
            border-radius: 20px;
        }
        @media(max-width:768px){
            height: 91vh;
            padding: scaleVW(40, $movil) 0;
            z-index: 20;
        }
        .close-submenu{
            position: absolute;
            top: 0;
            right: scaleVW(33, $movil);
            cursor: pointer;
            font-size: scaleVW(24, $movil);
            z-index: 1;
        }
        .contente-menu{
            display: flex;
            gap: scaleVW(113, $desktop);
            position: relative;
            @media(max-width:768px){
                flex-direction: column;
                gap: scaleVW(20, $movil);
            }
            .menu-name{
                width: scaleVW(193, $desktop);
                h2{
                    font-size: scaleVW(36, $desktop);
                    line-height: LH(20, 20);
                    font-weight: 500;
                    a{
                        text-decoration: none;
                        color: $blue;
                    }
                }
                @media(max-width:768px){
                    width: scaleVW(407, $movil);
                    h2{
                        font-size: scaleVW(24, $movil);
                        line-height: LH(44, 24);
                    }
                }
            }
            .menus{
                width: scaleVW(1050.53, $desktop);
                display: flex;
                flex-direction: column;
                gap: scaleVW(29, $desktop);
                position: relative;
                @media(max-width:768px){
                    width: scaleVW(407, $movil);
                    gap: scaleVW(20, $movil);
                }
                .menu-item{
                    display: flex;
                    gap: scaleVW(44, $desktop);
                    width: fit-content;
                    @media(max-width:768px){
                        flex-direction: column;
                    }
                    .name-category{
                        text-decoration: none;
                        color: #707070;
                        font-weight: 500;
                        width: scaleVW(268, $desktop);
                        font-size: scaleVW(32, $desktop);
                        line-height: LH(20, 32);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: .2s;
                        svg{
                            width: scaleVW(22, $desktop);
                            height: scaleVW(22, $desktop);
                        }
                        @media(max-width:768px){
                            width: scaleVW(407, $movil);
                            font-size: scaleVW(20, $movil);
                            line-height: LH(34, 20);
                            svg{
                                width: scaleVW(18, $movil);
                                height: scaleVW(18, $movil);
                            }
                        }
                    }
                    ul{
                        display: none;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        flex-direction: column;
                        gap: scaleVW(7, $desktop);
                        position: absolute;
                        top: 0;
                        left: scaleVW(383, $desktop);
                        li{
                            width: 100%;
                            a{
                                text-decoration: none;
                                color: #707070;
                                font-weight: 500;
                                font-size: scaleVW(24, $desktop);
                                line-height: LH(20, 24);
                                &:hover{
                                    color: #424242;
                                }
                            }
                        }
                    }
                    ul.active{
                        display: flex;
                    }
                    &:hover{
                        .name-category{
                            color: #424242;
                        }
                    }
                }
            }
            #product-image{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(25%, -25%);
                width: scaleVW(450, $desktop);
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
    #submenu.active{
        display: block;
    }
    /*========== Menu movil ==========*/
    .menu-movil{
        display: none;
        background: $white;
        position: absolute;
        bottom: 0;
        transform: translateY(99%);
        width: 100%;
        height: 91vh;
        z-index: 10;
        padding: scaleVW(40, $movil) 0;
        .main-menu{
            ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                gap: scaleVW(15, $movil);
                list-style: none;
                justify-content: end;
                li{
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-weight: 400;
                        font-size: scaleVW(24, $movil);
                    }
                }
            }
        }
        .lenguages{
            position: absolute;
            bottom: 5%;
            width: 100%;
            left: 0;
            transform: translateY(-100%);
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: scaleVW(40, $movil);
                justify-content: center;
                .client-cta{
                    a{
                        display: flex;
                        align-items: center;
                        gap: scaleVW(24, $movil);
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $movil);
                        font-weight: 400;
                        svg{
                            width: scaleVW(22, $movil);
                            height: scaleVW(24.75, $movil);
                            path{
                                fill: $blue;
                            }
                        }
                    }
                }
                .wpm-languages{
                    position: relative;
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $movil);
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap:scaleVW(23, $movil);
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%205.2L10.6%200.6L12%202L6%208L0%202L1.4%200.6L6%205.2Z%22%20fill%3D%22%23002D74%22/%3E%3C/svg%3E");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    .sub-menu{
                        display: none;
                        position: absolute;
                        bottom: 0;
                        transform: translateY(100%);
                        background: $white;
                        li{
                            a{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                    .show{
                        display: block;
                    }
                }
            }
        }
    }
    .menu-movil.active{
        display: block;
    }
}