.header-content-partial-777e2f {
    background: $white;
    /*========= Top content =========*/
    .top-content-menu{
        padding: scaleVW(22, $desktop) 0;
        border-bottom:1px solid $blue;
        @media(max-width:768px){
            display: none;
        }
        .company-menu{
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: scaleVW(59, $desktop);
                justify-content: end;
                .client-cta{
                    a{
                        display: flex;
                        align-items: center;
                        gap: scaleVW(24, $desktop);
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $desktop);
                        font-weight: 400;
                        svg{
                            width: scaleVW(22, $desktop);
                            height: scaleVW(24.75, $desktop);
                            path{
                                fill: $blue;
                            }
                        }
                    }
                }
                .wpm-languages{
                    position: relative;
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-size: scaleVW(24, $desktop);
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap:scaleVW(23, $desktop);
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%205.2L10.6%200.6L12%202L6%208L0%202L1.4%200.6L6%205.2Z%22%20fill%3D%22%23002D74%22/%3E%3C/svg%3E");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    .sub-menu{
                        display: none;
                        position: absolute;
                        bottom: 0;
                        transform: translateY(100%);
                        background: $white;
                        li{
                            a{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                    .show{
                        display: block;
                    }
                }
            }
        }
    }
    /*========= Bottom content =========*/
    .main-menu{
        padding: scaleVW(33, $desktop) 0 scaleVW(41, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(27, $movil) 0;
        }
        .custom-logo{
            width: scaleVW(264, $desktop);
            height: scaleVW(46, $desktop);
            @media(max-width:768px){
                width: scaleVW(201, $movil);
                height: scaleVW(35, $movil);
            }
        }
        .nav-container{
            ul{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: scaleVW(39, $desktop);
                list-style: none;
                justify-content: end;
                li{
                    a{
                        text-decoration: none;
                        color: $blue;
                        font-weight: 400;
                        font-size: scaleVW(24, $desktop);
                    }
                }
            }
        }
        /*==========  =========*/
        .menu-movil-contain{
            align-items: center;
            gap: scaleVW(37, $movil);
            .search-controller{
                svg{
                    width: scaleVW(25.65, $movil);
                    height: scaleVW(25.65, $movil);
                }
            }
            .bar-menu{
                display: flex;
                flex-direction: column;
                gap: scaleVW(3, $movil);
                span{
                    background: $blue;
                    border-radius: 20px;
                    width: scaleVW(26.25, $movil);
                    height: scaleVW(4, $movil);
                    display: block;
                }
            }
        }
    }
    /*========== Movil star ==========*/
}